body {
    background-color: #040404;
    background-image : url('img/background.jpg') ;
    background-size: cover;
    background-repeat: no-repeat;
}

@media (max-width: 780px) {
    body {
        background-position-y: 8em;
    }
}

.App {
    text-align: center;
    padding: 5%;
}

.App-title {
    color: white;
}