.Form-text {
    background: rgba(224, 231, 197, 0.8);
}

.Form-text a {
    color:dodgerblue;
    font-weight: bold;
}

.pokemonName {
    text-transform: capitalize;
    font-weight: bold;
    font-size: 25px;
}

.pokemonEvolName {
    text-transform: capitalize;
    font-weight: bold;
    font-size: 15px;
}

.leftColumn {
    margin-top:5px;
    margin-bottom:5px;
}

/* Stats */
.stats {

    text-transform: capitalize;
    font-weight: bold;
}

.statsList {
    margin-left: 5px;
}

.statsValue {
    margin-left: 5px;
}

.type {
    text-transform: capitalize;
    font-weight: bold;
}

.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* Navigation */
.navPokemon {
    margin-top:10px;
}

.navPokemonRight {
    margin-left:10px;
}

.navPokemonLeft {
    margin-right:10px;
}

/* Moves */
.movesName {
    text-transform: capitalize;
    text-align: left;
}

.movesLevel {
    text-transform: capitalize;
    text-align: left;
}

.movesHeader {
    margin-top:15px;
    margin-bottom:5px;
}

@media (max-width: 780px) {
    .pokemonName {
        font-size: 18px;
    }

    .Form-text a {
        font-size: 12px;
    }

    /* Stats (mobile) */
    .stats {
        font-size: 14px;
    }

    .statsValue {
        font-size: 14px;
    }

    /* Moves (mobile) */
    .movesName {
        font-size: 14px;
    }

    .movesLevel {
        font-size: 14px;
    }
}