.Form-text {
    background: rgba(224, 231, 197, 0.8);
}

.Form-text a {
    color:dodgerblue;
    font-weight: bold;
}

.pokemonName {
    text-transform: capitalize;
    font-weight: bold;
    font-size: 25px;
}

.pokemonEvolName {
    text-transform: capitalize;
    font-weight: bold;
    font-size: 15px;
}

@media (max-width: 780px) {
    .pokemonName {
        font-size: 15px;
    }

    .Form-text a {
        font-size: 12px;
    }
}

.leftColumn {
    margin-top:5px;
    margin-bottom:5px;
}

.stats {
    margin-left:5px;
    text-transform: capitalize;
    font-weight: bold;
}

.type {
    text-transform: capitalize;
    font-weight: bold;
}

.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.navPokemon {
    margin-top:10px;
}

.navPokemonRight {
    margin-left:10px;
}

.navPokemonLeft {
    margin-right:10px;
}

.moves {
    text-transform: capitalize;
    text-align: left;
    margin-left:10px;
}

.movesHeader {
    margin-top:15px;
    margin-bottom:5px;
}